
$color-Uno: #772B08; 
$color-Dos:#8F7F10;
$color-Tres: #F7ECC4;
$color-Cuatro:#817707;
$color-Cinco:#7e3131;

$tipografia-Uno:  'Amatic SC', cursive;
$tipografia-Dos: 'Jura', sans-serif;
$tipografia-Tres:  'Playfair Display SC', serif;
$tipografia-Cuatro: 'Quicksand', sans-serif;